<div class="container">
    <h2>Emprendedores</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Cedula</th>
            </tr>
        </thead>
        <tbody>
                        
    
                        
            <tr *ngFor="let emprendedor of emprendedoresList ">
                <td>
                    {{emprendedor.idEmprendedor}}
                </td>
                <td>
                    {{emprendedor.nombre}}
                </td>
                <td>
                    {{emprendedor.correo}}
                </td>
                <td>
                    {{emprendedor.cedula}}
                </td>
            </tr>
            
        </tbody>
    </table>
</div>

