<div class="container">
    <h2>Donaciones</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Proyecto</th>
            <th>Donante</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        

        
        <!--<tr *ngFor="let competitor of competitors ">
            <td>
                {{competitor.id}}
            </td>
            <td>
                {{competitor.name}}
            </td>
            <td>
                {{competitor.surname}}
            </td>
            <td>
                {{competitor.age}}
            </td>
            <td>
                {{competitor.telephone}}
            </td>
            <td>
                {{competitor.cellphone}}
            </td>
            <td>
                {{competitor.address}}
            </td>
            <td>
                {{competitor.city}}
            </td>
            <td>
                {{competitor.country}}
            </td>
        </tr>-->
        
    </tbody>
</table>
</div>
