<div class="container">
    <h2>Donaciones</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Donante</th>
            <th>Proyecto</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
               
        <tr *ngFor="let donacion of donacionesList ">
            <td>
                {{donacion.idDonacion}}
            </td>
            <td>
                {{donacion.idDonante.nombre}}
            </td>
            <td>
                {{donacion.idProyecto.descripcion}}
            </td>
            <td>
                ${{donacion.valor}}
            </td>
        </tr>
        
    </tbody>
</table>
</div>
